/*header colors and desing */
#header{
    margin: 0;
    padding: 10px;
    background: #512DA8;   
}
#header,a:hover{
    color: #FFFFFF;
}
#header,a{
    color: #FFFFFF;
}
#header h1,nav{
    display: inline-block;
      
}
#header ul>li{
    display: inline-block;
    background:  #ffffff;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 40px; 
}
#header ul>li>a{
    font-family: sans-serif;
    font-size: 30px;
    color: #212121;
    margin-left: 40px;
}
#header ul>li:hover{
    background: #D1C4E9;
}
#header ul>li>a:hover{
    background: #D1C4E9;
    color: #FFFFFF;
}


#imgBuscar ul,li{
    display: inline-block;
    list-style: none;
}
#imgBuscar li>img{
    height: 300px;
    width: 600px;
    padding-bottom: 20px;
}
#check{
    height: 300px;
    width: 500px;
    position: absolute;
}
#recibir{
    padding: 30px;
    height: 100px;
    width: 80%;
    position: absolute;
}
form,#recibir{
    display: inline-block;
}
section{
    margin-top: 80px;
}
.listaSelect{
    padding: 1em 2em;
    background: #B2EBF2;
}
#Agregar{
    position: absolute;
    left: 90%;
    top:29px;
}
.input{
    position: relative;
    padding: 13px;
    left: 10px;
    top: 29px;
}
#buscar{
    position: relative;
    left: 20px;
    top: 29px;
}
.boton{
    border: none;
    background: #673AB7;
    padding:15px;
    padding-bottom: 13px;
    color: #FFFFFF;
}
.boton:hover{
    background: #D1C4E9;
}
#number{
   position: relative;
    left: 20px;
    top: 29px; 
}
/*dialogo img*/
#dialogo{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    border: none;
}
.selectImg{
    background-color: #673AB7;
}
